.draggable-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  background-color: var(--color-bg);
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (width <= 1200px) {
  .draggable-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 820px) {
  .draggable-grid {
    grid-template-columns: 1fr;
  }
}

.sortable-item {
  cursor: grab;
  padding: 1.5rem;
  background-color: var(--color-bg-main);
  color: var(--color-text);
  border-radius: 50px;
  border: 2px solid var(--color-border);
  box-shadow: 4px 8px 6px var(--color-section-shadow);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 500;
  font-size: 1.1rem;
  height: 400px;
  box-sizing: border-box;
}
