.draggable-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--color-bg);
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sortable-item {
  position: relative; /* needed for absolute positioning of handle */
  cursor: default;
  padding: 1.5rem;
  background-color: var(--color-bg-main);
  color: var(--color-text);
  border-radius: 50px;
  border: 2px solid var(--color-border);
  box-shadow: 4px 8px 6px var(--color-section-shadow);
  user-select: none;

  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.1rem;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
}

.drag-handle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: grab;
  background-color: var(--color-bg-light);
  border-radius: 8px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--color-text-muted);
  transition: background-color 0.2s ease;
  z-index: 10;
}

.drag-handle:active {
  cursor: grabbing;
  background-color: var(--color-bg-accent);
  color: var(--color-text-accent);
}

.sortable-content {
  flex: 1;             
  overflow-y: auto;    
  padding-right: 0.5rem; 
}