.status {
  background-color: var(--color-bg-light);
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color-border);
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.6;
  display: inline-block; 
  white-space: normal; 
  height: 85%;
}

.status > span {
  display: block;
  margin-bottom: 0.3rem;
  white-space: nowrap;
}

.status > span:last-child {
  margin-bottom: 0;
}

.status-active {
  color: #2ecc71;
  font-weight: 600;
}

.status-empty {
  color: #f1c40f;
  font-weight: 600;
}

.status-disconnected {
  color: #e74c3c;
  font-weight: 600;
}
